/*
Theme Name: Isotope Styles by Damien Saunders
Theme URI: http://wordpress.damiensaunders.com
Author: Damien Saunders
*/

/* Start: Damien's Isotope styles */

@font-face {
  font-family: 'Special Elite';
  font-style: normal;
  font-weight: 400;
  src: local('Special Elite'), local('SpecialElite-Regular'), url(http://themes.googleusercontent.com/static/fonts/specialelite/v3/9-wW4zu3WNoD5Fjka35Jm4kaQb-UsZVONjobs91YQtw.woff) format('woff');
}




.isocontent{
	background-color: silver;
}


.isocontent .box{
width: 150px;
height: 200px;
margin: 5px;
float: left;
overflow: hidden;
position: relative;
color: #222;
background-color: orange;
}
.box.large{
  width: 500px;
  height: 300px;
  transition-duration: 0.8s;
}


.box.medium{

	width: 300px;
	
}

.box.thumbnail{

}




.isocontent .hentry{

}




.isocontent .image{
    vertical-align: top
    
}

.isocontent .wp-post-image{
	display:block;
	margin:0;
	padding: 0px;
border-style: none;
border-width: 0px;
border-radius:0px;
-webkit-border-radius: 0px;
}


.isocontent .ftext{
	color: white;
    top:0px; /* in conjunction with left property, decides the text position */
    left:0px;
    width:100%; /* optional, though better have one */
    text-shadow:grey;
	font-size:16px;
	background: rgb(0, 0, 0); /* fallback color */
	background: rgba(0, 0, 0, 0.7);
	padding: 5px;
}


.isocontent .fexc{
    margin-top:20px; 
    font-family:sans-serif;
    color: black;
    font-size:12px;
   }



.isocontent .fexc:hover {
    background-color:white;
    color: black;
}





.isocontent a{
	text-decoration: none;
	color:#000000;
  }




.isocontent .Yellow{
background-color:yellow;
background-image:-webkit-linear-gradient(top, #FFEE90 0%, #FFE44E 100%);
  color:#000000;
    font-family: "special elite";
}




.isocontent .Violet{position:relative; 
float:left; 
overflow: hidden; 
position: relative;
background-color: #7a81ff;
font-family: "special elite";
}

.isocontent .Red{
position:relative; 
float:left; 
overflow: hidden; 
background-color: #ff2600;
  margin-top:2px;
  margin-left: 2px;
  font-family: "special elite";  

}

.isocontent .Green{
position:relative; 
float:left; 
overflow: hidden; 
background-color: #8efa00;
  margin-top:2px;
  margin-left: 2px;
  font-family: "special elite";  

}

.isocontent .Blue{
position:relative; 
float:left; 
overflow: hidden; 
background-color: #00fdff;
  margin-top:2px;
  margin-left: 2px;
  font-family: "special elite";  

}

.isocontent .Orange{
position:relative; 
float:left; 
overflow: hidden; 
background-color: #ff7e79;
  margin-top:2px;
  margin-left: 2px;
  font-family: "special elite";  

}

.isocontent .White{
position:relative; 
float:left; 
overflow: hidden; 
background-color: #ffffff;
  margin-top:2px;
  margin-left: 2px;
  font-family: "special elite";  

}
















/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

